@import '../../styles/theme.scss';
@import '../../styles/flex.scss';

    
.orderList{
    width: 100%;
    padding-top: 22px;
    box-sizing: border-box;
    
    .orderCattItem{
        width: 100%;
        @include flex-center;
        
        .itemBox{
            width: 690px;
            margin: 0 0 20px;
        }
    }
}
.searchBox{
    position: fixed;
    width: 100%;
    margin-top: -6px;
    top: 136px;
    left: 0;
    z-index: 999;
}
.noOrder{
    display: block;
    margin: 300px auto 0;
    width: 320px;
    height: 280px;
}

