@import '../../styles/flex.scss';
.loginWrap{
    width: 100%;
    .content{
        width: 100%;
        padding: 0 52px;
        box-sizing: border-box;
        text-align: center;
        .logo{
            width: 168px;
            height: 168px;
            margin-top: 280px;
            margin-bottom: 140px;
        }
        .phoneInputBox{
            margin-bottom: 60px;
        }
        .phoneInputBox, .identifyInputBox{
            @include flex-between;
            padding: 12px 20px;
            box-sizing: border-box;
            font-size: 30px;
            text-align: left;
            border-bottom: 1PX solid rgba(238,238,238,1);
            .phoneInputBoxLeft{
                @include flex-start;
                min-width: 70%;
                .icoBox{
                    @include flex-center;
                    width: 80px;
                }
            }
            .phoneIco{
                width: 32px;
                height: 45px;
            }
            .capchaIco{
                width: 40px;
                height: 46px;
            }
            .eye{
                width: 50px;
                height: 40px;
            }
            .closeEye{
                width: 50px;
                height: 27px;
            }
            .phoneInput, .capchaInput{
                width: 70%;
                font-size: 30px;
                padding-left: 27px;
                border-left: 1PX solid rgba(221,221,221,1);
            }
            .verificationCode, .eyeBox{
                min-width: 10%;
                height: 100%;
                text-align: right;
                font-size: 0;
                color: #BD8144;
                background: none;
            }
        }
        .resetPassword{
            margin-bottom: 60px;
            text-align: right;
            font-size: 28px;
            text-decoration: underline;
            color: rgba(153,153,153,1);
        }
        .loginBtn{
            width: 100%;
            height: 85px;
            margin-top: 42px;
            border-radius: 50px;
            color: #fff;
            background: #bd8144;
            
        }
    }
}