@import '../../styles/theme.scss';
@import '../../styles/flex.scss';
.reserveWrap{
    padding-top: 136px;
    box-sizing: border-box;
    width: 100%;
}
.orderList{
    width: 100%;
    padding-top: 22px;
    box-sizing: border-box;
    .orderCattItem{
        width: 100%;
        @include flex-center;

        .itemBox{
            width: 690px;
            
        }
    }
}