$color-brand: #bd8144; //主风格色
$color-brand-light: #cea173;
$color-brand-dark: #976736;

$font-color-base: #333333; //字体基色
$font-color-light:#707070; //字体轻色调
$btn-color-base: #c3976d;  //按钮基底色和外框色
$btn-color-disable: #b5b5b5;  //按钮禁止点击色

button{
    border-radius: 5px;
    border: none;
    outline: 0;
    padding: 0;
    &:active{
        opacity: 0.7;
    }
}





@import '../../node_modules/taro-ui/dist/style/index.scss'
