.headerTitleWrap{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    background: #fff;
    overflow: hidden;
    .headerTitle{
        width: 100%;
        height: 136px;
        padding-top: 60px;
        box-sizing: border-box;
        text-align: center;
        font-size: 38px;
        border-bottom: 1PX solid #E9E9E9;
        color: #BD8144;
    }
}

