@import '../../styles/flex.scss';

.settingItemWrap{
    @include flex-between;
    width: 100%;
    height: 100px;
    padding: 0 30px;
    box-sizing: border-box;
    font-size:30px;
    background: #fff;
    .rightBox{
        @include flex-start;
        .extraImage{
            width: 70px;
            height: 70px;
            border-radius: 50%;
            vertical-align: middle;
            margin-right: 30px;
        }
        .extraText{
            margin-right: 30px;
            color: #666666;

        }
        .rightArrow{
            width: 20px;
            height: 32px;
            vertical-align: middle;
        }
    }
}