

.wrapper{
    padding: 139px 0 100px;
    width: 100%;
    height: 100%;
    background: white;

    :global(.at-modal__content) {
        min-height:78px;
        text-align: center;
        font-size:34px;
        font-family:PingFang-SC-Bold;
        font-weight:bold;
        color:#C3976D;
    }
    
}
