.wrapper{
    width: 690px;
    // height:636px;
    margin: 0 auto;
    background:rgba(255,255,255,1);
    box-shadow:0px 1px 8px rgba(0,0,0,0.16);
    opacity:1;
    border-radius:10px;
    overflow-x: scroll;

    .contentBox{
        min-width: 690px;
        max-width: 966px;
        text-align: center;

        .headerBox{
            display: flex;
            justify-content: flex-start;
            color: #303030;
            font-size: 30px;
            border-bottom: 1PX solid #E9E9E9;

            .dayHeaderItem{
                width: 138px;
                padding: 26px 0 14px;
                margin: 0;

                .h2{
                    font-size: 25px;
                }
            }
        }
        .dayBox{
            display: flex;
            justify-content: flex-start;
            font-size: 26px;
            margin-top: 30px;
            
            .dayTimeList{
                width: 138px;
                margin: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;

                .timeItem{
                    position: relative;
                    width: 120px;
                    height: 60px;
                    line-height: 60px;
                    margin: 0 auto 12px;
                    background:rgba(255,255,255,1);
                    border:1PX solid rgba(184,184,184,1);
                    opacity:1;
                    border-radius:4px;

                    .get{
                        position: absolute;
                        z-index: 999;
                        width: 25px;
                        height: 25px;
                        top: 30px;
                    }
                }

                .nullItem{
                    color: #C3976D;
                }

                .order{
                    color: white;
                    background: #C3976D;                    
                }

                .disableItem{
                    background: #B8B8B8;
                    color: white;
                }
            }
        }
    }

    .confirmBox{
        width: 690px;
        padding: 60px 10px 20px;
        box-sizing: border-box;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .radioBox{
            position: relative;
            margin-right: 8px;
            width: 34px;
            height: 34px;
            border:1PX solid rgba(112,112,112,1);
            border-radius:50%;
            opacity:1;

            .radioGet{
                position: absolute;
                width: 25px;
                height: 20px;
                top: 7px;
                left: 5px;
            }
        }
        .redioChecked{
            background: #C3976D
        }

        .allCheckText{
            margin-right: 12px;
            font-size: 26px;
            color: #C3976D;
        }

        .confirm_btn{
            font-size: 28px;
            text-align: center;
            line-height: 54px;
            width:158px;
            height:54px;
            color: white;
            background:rgba(195,151,109,1);
            opacity:1;
            border-radius:4px;
        }
    }

    .tipsBox{
        font-size: 24px;
        color: #C3976D;
        display: flex;
        margin-bottom: 22px;

        .tipsItem{
            margin-left: 14px;
            display: flex;
            align-items:  center;

            .circular{
                width: 18px;
                height: 18px;
                border:1PX solid rgba(185,185,185,1);
                border-radius:50%;
                opacity:1;
                margin-right: 4px;
            }

            .lookTow{
                background: #C3976D;
            }
            .lookThree{
                background: #C3976D;
                
                .get{
                    line-height: 18px;
                    display: block;
                    color: white;
                    font-size:  6px;
                    font-weight: bold;
                }
            }
            .lookFour{
                background: #A4A3A3;
            }
        }
    }


}